#container
{
	background-color: whitesmoke;	
	border: 1px solid black;
	padding: 0px 5px 0px 5px;
	font-size: 12pt;
}
table
{
	width: 100%;
	text-align: center;
}
a
{
	color: green;
	font-weight: none;
	text-decoration: underline;
}
a:link
{
	color: green;	
}
a:visited
{
	color: red;	
}
a:hover
{	
	font-weight: bold;	
}
a:active
{	
	text-decoration: none;
}
.header
{
	text-align: left;
	border-top: 1px solid black;
}
.footer
{
	text-align: center;
	border-top: 1px solid black;
}
.divLink
{
	width: 80px;
	float: left;
}
@font-face
{
	font-family: 'Merienda One', cursive;
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.googleapis.com/css?family=Merienda+One");	
}
h1
{
	font-family: 'Merienda One', cursive;
}